<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcels</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/Results">
      <div class="form-group">
        <label for="length">length</label>
        <input id="length" name="length" class="form-control" type="number">
      </div>
      <div class="form-group">
        <label for="width">width</label>
        <input id="width" type="number" name="width" class="form-control">
      </div>
      <div class="form-group">
        <label for="height">height</label>
        <input id=height type="number" name="height" class="form-control">
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input id="weight" type="number" name="weight" class="form-control">
      </div>
      <button type='submit' class='btn'>its a parcel!</button>

    </form>
  </body>
</html>
